<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


<div class="jumbotron">
  <h2 class="display-3">List of All Projects</h2>
  

  <table class="table table-hover">
  <thead class="table-primary">
    <tr>
      <th scope="col">COUNTRY</th>
      <th scope="col">TITLE</th>
      <th scope="col">PROJECT STATUS</th>
      <th scope="col">PARTY_TO</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
  {% for project in projects %}

    <tr class="">
      <td>{{project.country_id.country_name}}</td>
      <td>{{project.title}}</td>

      {% if project.project_status == "C" %}
       <td>Completed</td>
	 {% else %}
      <td>Under Implementation</td>
      {% endif%}

      <td>{{project.party_to}}</td>
      <td>
	  	 <a href="{% url 'add_project' %}">
	  	 	<button type="button" class="btn btn-success">Add</button>
	  	 </a>
	  	 <a href="{% url 'edit_project' %}">
	  	 	<button type="button" class="btn btn-primary">Update</button>
	  	 </a>
	  	 <a href="{% url 'delete_project' project.id %}">
	  	 	<button type="button" class="btn btn-danger">Delete</button>
	  	 </a>


      </td>
    </tr>

   {%endfor%}
 
  </tbody>
</table> 
</div>
</body>
</html>

